.sidebar {
  width: 72px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  border-right: 1px solid rgb(224, 224, 224);
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 74px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(236, 234, 234);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}
